@import "tailwindcss";

/*to all background page*/
body {
    background-color: #222222;
    overflow: hidden;
}

/* styles.css or within a <style> tag */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; /* gray-200 */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #464646; /* gray-400 */
  border-radius: 9999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #353535; /* gray-500 */
}
